{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voting App</title>
    <script src="https://cdn.tailwindcss.com"></script>

    {#    Google Fonts   #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <style>
        .josefin-sans{
          font-family: "Josefin Sans", sans-serif;
          font-optical-sizing: auto;
          font-weight:normal;
          font-style: normal;
}
    </style>

    <script>
      tailwind.config = {
        theme: {
            extend: {
            colors: {
              "brand-blue": "#2490ef",
              "brand-blue-light": "#ecf5fe",
              "icon-black": "#0f1419",
              "brand-gray": "#f7f9f9",
              "reaction-color": "#516471",
              "text-color": "#4c5a67",
              "heading-color": "#182734"
            },
            fontFamily: {
              "sans": ["inter", "sans-serif"]
            }
          },
            screens: {
                'phone':'500px',
                'tablet': '640px',
                'laptop': '1024px',
                'desktop': '1280px',
            },
        }
      }
    </script>

    <script src="{% static 'utils.js' %}"></script>

</head>
<body class="h-screen flex flex-col justify-between " onload="displayLinks()">
<div class="flex flex-col gap-4">
    {#  Header  #}
    {#  Desktop Nav Begin  #}
    <div class="text-white hidden tablet:flex gap-4 justify-between flex-wrap bg-blue-400 px-8 py-2 items-center">
        <h1 class="text-2xl font-bold ">Voting App</h1>

        <div class="flex gap-4 flex-wrap text-sm items-center ju text-gray-800 font-semibold">
            <div class="navigation-bar flex flex-wrap gap-4 text-white">
            {#   menu links go here   #}
            </div>

            {#      avatar      #}
            <figure class="h-10 w-10 flex items-center border rounded-full">
              <img src="https://images.unsplash.com/photo-1457449940276-e8deed18bfff?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D"
                   class="rounded-full"
                   alt="Profile Image" style="width:100%; height: 100%" >
            </figure>
        </div>
    </div>
    {#  Desktop Nav Begin  #}
    {#  Mobile Nav Begin #}
    <div class=" min-h-16 phone:flex phone:flex-col gap-4 phone:justify-start phone:items-start phone:flex-wrap bg-gray-50 px-8 py-4 items-center tablet:hidden relative ">

        <button
                id="mobile_menu"
                onclick="toggleNav()"
                class="absolute w-8 h-8 right-4 bg-white rounded p-1 text-gray-600 hover:text-red-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" ></path>
            </svg>
        </button>

        <div    id="menu_links"
                class="hidden flex flex-col gap-4 flex-wrap text-sm items-start justify-start text-gray-800 font-semibold ">
            <div class="navigation-bar flex flex-col gap-4 ">
            {#   menu links go here   #}
            </div>
            {#      avatar      #}
            <figure class="h-16 w-16 p-1 flex items-center border rounded-full">
              <img src="https://images.unsplash.com/photo-1457449940276-e8deed18bfff?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D"
                   class="rounded-full"
                   alt="Profile Image" style="width:100%; height: 100%" >
            </figure>
        </div>
    </div>
    {#  Mobile Nav Begin #}
    {#  Body slot  Begin#}
    {% block content %}

    {% endblock %}
    {#  Body slot  Begin#}
</div>


{#  Footer  #}
<div class="flex gap-4 justify-between flex-wrap bg-gray-50 px-8 py-2 items-center">
        <h1 class="text-2xl font-bold text-gray-400">Voting App</h1>
        <div>
            <p class="text-gray-400 text-sm "
               title="Muasya Victor Github Account"
            >copyright@<span class="text-blue-400 hover:text-blue-500">
                group g
{#                    <a href="https://github.com/muasya-victor" class="cursor-pointer" target="_blank">muasya-victor</a>#}
                </span>
            </p>
        </div>
</div>

<script>
    const menu_button = document.getElementById("mobile_menu")
    const menu_links_div = document.getElementById("menu_links")
    let is_menu_open = false

    const close_icon = `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                 class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
        </svg>`

    const open_menu_icon = `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
    `

    function toggleNav(){
        is_menu_open = !is_menu_open

        if (is_menu_open){
            menu_button.innerHTML= close_icon
            menu_links_div.classList.remove('hidden')
        }else {
            menu_button.innerHTML= open_menu_icon
            menu_links_div.classList.add('hidden')
        }
    }

    let nav_links = [
        {value: '/voting/vote', label: 'Candidates'},
        {value: '/voting/results', label: 'Results'},
    ]

    function displayLinks (){
        let navigation_bars = document.getElementsByClassName('navigation-bar')
        nav_links.forEach((link_item)=>{
            let link = document.createElement('a')
            let text_node = document.createTextNode(link_item.label)
            link.appendChild(text_node)

            link.classList = "p-1 border-b cursor-pointer hover:text-blue-800 font-light"
            link.href = link_item.value

            for (let i = 0; i < navigation_bars.length ; i++){
                navigation_bars[i].appendChild(link.cloneNode(true))
                console.log('happens')
            }

        })

    }

</script>
</body>
</html>